@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/CrimsonPro.woff') format('woff');
  }
  html {
    font-family: 'Crimson Pro', 'Georgia', serif;
  }

}

:root {
  --blue: #B7D3DB;
  --mustard: #CFB058;
  --black: #212008;
  --linen: #F5F0E7;
  --red: #D74434;
  --peach: #EAC4AF;
}

body {
  color: var(--black);
  background: var(--blue);
}
